{% extends 'home.html' %}
{% load static %}
{% block contenido_page %}
    <form action="" method="get">
        <div>
            <div class="card mb-4">
                <div class="card-header mb-2">{{ title }}</div>
                <div class="card-body row">
                    <table class="table table-bordered" id="datatablesSimple">
                        <thead>
                        <tr>
                            <th>Paciente</th>
                            <th>Fecha</th>
                            <th>Opciones</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for object in object_list %}
                            <tr>
                                <td>{{ object.patient }}</td>
                                <td>{{ object.date }}</td>
                                <td class="text-center align-middle">
                                    <a href="{% url 'update_prescription' object.id %}"
                                       class="btn btn-datatable btn-warning mx-1 ">
                                        <i class="feather-edit"></i></a>
                                    <a href="{% url 'prescription_pdf' object.id %}" class="btn btn-datatable btn-green ">
                                        <i class="feather-download"></i></a>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </form>
{% endblock %}