{% extends 'home.html' %}
{% load static %}
{% block contenido_page %}
    <div>
        <div class="card mb-4">
            <div class="card-header">{{ title }}</div>
            <div class="card-body row">
                <div class="col-5 text-center pt-4">
                    <img src="{% static 'img/profile-5.png'%}" alt="imagen-user" class="rounded-2 shadow-sm">
                </div>
                <div class="col">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <button type="submit" class="btn btn-primary w-100 fw-bold">Actualizar</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}